<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="client" class="beans.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Smithana"/>
    </bean>

    <bean id="eventLogger" class="loggers.ConsoleEventLogger"/>

    <bean id="app" class="App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>

    <bean id="event" class="Event" scope="prototype">
        <constructor-arg>
            <bean class="java.utils.Date"/>
        </constructor-arg>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean id="fileEventLogger" class="FileEventLogger" init-method="init">
        <constructor-arg value="log.txt"/>
    </bean>

    <bean id="chacheFileEventLogger" class="CacheFileEventLogger" init-method="init" destroy-method="destroy">
        <constructor-arg value="log.txt"/>

    </bean>

</beans>